:host{
    display: flex;
    margin: 20px;
}

.videl{
    background-color: black;
    border: 4px solid purple;
    display: inline-block;
    padding: 20px;

    &__name{
        color:purple;
    }

    &__techniques{
        color: aqua;
    }

    &__title{

    }

    &__tech-item{
        padding: 10px;
        text-transform: capitalize;
        text-align: left;
    }
}
